.panels_c48ade .container__37e49, .member__5d473:has([src*="1212105491233374288"]) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://i.ibb.co/67CpWHYd/0629.gif);
    background-size: cover;
    background-position: top;
}

.panels_c48ade .container__37e49, .member__5d473:has([src*="957587376274804837"]) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://i.ibb.co/67CpWHYd/0629.gif);
    background-size: cover;
    background-position: top;
}
