/* 1212105491233374288 */
.avatar__44b0c[src*="1212105491233374288"],
.avatar_c19a55[src*="473220112820994058"],
.voiceAvatar_f910d0[src*="1212105491233374288"],
.avatar__183c2[src*="1212105491233374288"] {
  content: url(https://github.com/SubToy0nikos/LimitlessPFPs/blob/main/Avatars/yonikosyt.gif?raw=true) !important;
}
.avatar__07f91[style*="/1212105491233374288/"] {
  background-image: url(https://github.com/SubToy0nikos/LimitlessPFPs/blob/main/Avatars/yonikosyt.gif?raw=true) !important;
}


/* 957587376274804837 */
.avatar__44b0c[src*="957587376274804837"],
.avatar_c19a55[src*="957587376274804837"],
.voiceAvatar_f910d0[src*="957587376274804837"],
.avatar__183c2[src*="957587376274804837"] {
  content: url(https://github.com/SubToy0nikos/LimitlessPFPs/blob/main/Avatars/4dfffeace9c8d335414846274f984e3b.gif?raw=true) !important;
}
.avatar__07f91[style*="/957587376274804837/"] {
  background-image: url(https://github.com/SubToy0nikos/LimitlessPFPs/blob/main/Avatars/4dfffeace9c8d335414846274f984e3b.gif?raw=true) !important;
}
